body {
	background-image: url('img/bg.png');	
	background-repeat: repeat;	

}

.navbar {
	border-radius: 0;
	background-color: transparent;
	color: black;
	border-color: transparent;	
	padding-left: 1%;

}

.navbar-brand{
  	float: left;
  	min-height: 60px;
  	padding: 0 15px 5px;
 }

.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover {
	color: #FFF;
	background-color: #737477;
}

.navbar-inverse .navbar-nav li a{
	color: black;	
}

 #iconwhite {
 	max-height: 60px;
 }

 #myNavbar {
 	font-family:'Poiret One', cursive; 	
 	font-size: 1.2em;
 	padding: 0 10%;
 }

 @media (max-width: 600px) {
 	.navbar-brand{
	  	min-height: 40px;
	  	padding: 0 15px 5px;
 	}
	 	#iconwhite {
	 	max-height: 50px;
 	}
 }